ul {
    list-style: none;
}

.content-box * {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.course-list {
    text-align: center;
    height: inherit;
    display: block;
}

#year {
    font-weight: 500;
    display: inline;
}

#skills,
.course-list {
    font-size: 20px;
    /*height: inherit;*/
    background-color: #e0e0e0;
    /*display: block;
    height: inherit;*/
}

#mark-info-glyph:hover {
    cursor: pointer;
}

#mark-info {
    float: right;
    margin-left: 5px;
    display: none;
}

#mark-info-glyph:hover #mark-info {
    display: block;
}

#expand-button {
    float: right;
    position: relative;
    top: -17px;
}

#expand-button_2 {
    position: relative;
    top: 7.5px;
    left: 2.5px;
}

#expand-button:hover,
#expand-button_2:hover {
    cursor: pointer;
}

hr {
    margin-bottom: -15px;
    margin-right: 20px;
    margin-left: -13px;
}

#expanded {
    display: none;
}

#expanded_1 {
    display: none;
}

#skill-text {
    font-size: 20px;
    display: inline;
    margin-left: 15px;
}

.skill:hover {
    background-color: #fafafa;
}

.skill:hover .wrapper {
    transform: scale(1.05);
}

.wrapper {
    transition: all .1s ease-in-out;
    margin-right: 15px;
    float: right;
}

h1 {
    margin-top: 40px;
}