@font-face {
    font-family: 'Coves';
    src: url('../fonts/coves/Coves_Light.otf');
    /* IE9 Compat Modes */
}

body {
    margin-bottom: 25px;
}

a {
    color: #3f51b5;
    text-decoration: none;
    font-weight: 600;
    outline: 0;
}

a:visited {
    color: #673ab7
}

.main-menu,
.dropdown-menu {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.navbar-default {
    box-shadow: none;
}

.colored-background {
    color: #f44336;
    background-color: #424242;
    font-weight: 400;
    transition: all .2s ease-in-out;
}

#cisco_small {
    margin-top: -5px;
}

#logo {
    margin: 0px;
    padding: 0px;
}

.content {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 600;
}

.content a {
    text-decoration: none;
}

.text-container {
    padding: 0 20px 0 20px;
}

/* The Modal (background) */

#myModal_1, #myModal_2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (Image) */

.modal-content {
    margin: auto auto;
    display: block;
    /*width: 80%;*/
    max-width: 700px;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close_1, .close_2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_1:hover,
.close_1:focus,
.close_2:hover,
.close_2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
.gif_expandable
{
    height:1000px;
}
.gif_expandable {
    height: 82px;
    cursor: pointer;
    transition: 0.3s;
}

.gif_expandable:hover {
    opacity: 0.7;
}