@font-face {
    font-family: 'Coves';
    src: url('../fonts/coves/Coves_Light.otf');
    /* IE9 Compat Modes */
}

body {
    margin-bottom: 25px;
}

a {
    color: #3f51b5;
    text-decoration: none;
    font-weight: 600;
    outline: 0;
}

a:visited {
    color: #673ab7
}

.main-menu,
.dropdown-menu {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.navbar-default {
    box-shadow: none;
}

.colored-background {
    color: #f44336;
    background-color: #424242;
    font-weight: 400;
    transition: all .2s ease-in-out;
}

#cisco_small {
    margin-top: -5px;
}

#logo {
    margin: 0px;
    padding: 0px;
}

.content {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 600;
}

.content a {
    text-decoration: none;
}

.text-container {
    padding: 0 20px 0 20px;
}